<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets\style.css">
</head>
  <body>
    <div class="navbar">
      <img src="#" alt="navlogo"/>
      <div class="menucl">
        <ul>
          <li>
            <a href="#"><img src="" alt="hambur"></a>
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="quemsomos">Quem Somos</a></li>
              <li><a href="queroadotar">Quero Adotar</a></li>
              <li><a href="colabore">Quero Ajudar</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="navlink">
        <a href="/">Inicio</a>
        <a href="quemsomos">Quem Somos</a>
        <a href="#">Quero adotar</a>
        <a href="colabore">Quero ajudar</a>
      </div>
        <div class="navbt">
            <a href="login"><button class="navbt1">Entrar</button></a>
            <a href="cadastro"><button class="navbt2">Criar nova conta</button></a>
        </div>
      </div>
  </body>
</html>