<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets\style.css">
</head>
  <body>
    <div class="navbar">
      <img src="#" alt="navlogo"/>
      <div class="menucl">
        <ul>
          <li>
            <a href="#"><img src="" alt="hambur"></a>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Quem Somos</a></li>
              <li><a href="#">Quero Adotar</a></li>
              <li><a href="#">Quero Ajudar</a></li>
              <li><a href="#">Parcerias</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="navlink">
        <a href="#">Inicio</a>
        <a href="#">Quem Somos</a>
        <a href="#">Quero adotar</a>
        <a href="#">Quero ajudar</a>
        <a href="#">Parcerias</a>
      </div>
        <div class="navbt">
            <button class="navbt1">Entrar</button>
            <button class="navbt2">Criar nova conta</button>
        </div>
    </div>
  </body>
</html>