<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/header') %>
    <title>Projeto Adoção</title>
    <meta charset="UTF-8">
    <meta name="vierport" content="width=device-width, initial-scale=1.0";>
    <link rel="stylesheet" href="stylesheets\style.css">
  </head>
  <body class="colabore">
    <div class="imgColabore">
    <img src="https://cdn.simplo7.net/static/2435/galeria/151828581155736.jpg" alt="colaboreImg">
    </div>
   <div class="colaboreMain">
     <div class="ajudas"></div> 
    <h1>Precisamos da sua Ajuda !</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in dui sed neque blandit semper nec et tortor. Pellentesque vel orci commodo, eleifend diam ac, sodales massa. Nam vel dolor vitae ipsum aliquet tristique. Duis finibus dignissim ullamcorper. Cras placerat tellus quis congue pulvinar. Phasellus sed ligula odio. Morbi molestie egestas luctus. Nullam gravida sed enim eu lacinia. Maecenas magna risus, ultricies non orci non, pulvinar facilisis arcu. Suspendisse imperdiet accumsan ex, at laoreet nisl consequat sed. Nullam eu urna ullamcorper, blandit eros vel, sodales est. Pellentesque libero ex, maximus sed posuere non, faucibus at lorem.</p>
     <div class="ajuda1">
       <h1>Faça parte do nosso clube !</h1>
       <p>Membros recebem desconto ao comprar <br>em nossas empresas parceiras.</p>
       <button class="btajuda1">Saiba mais</button>
     </div>
     <div class="ajuda2">
      <h1>Faça parceria conosco !</h1>
      <p>Divulgue sua empresa em nosso site.</p>
      <a href="parcerias"><button class="btajuda2">Saiba mais</button></a>
     </div>
      <div class="ajuda3">
        <h1>Faça um doação !</h1>
        <p>Ajude o site a continuar ativo</p><br>
        <p>Aceitamos cartoes de credito, debito e pix.</p>
        <button class="btajuda3">Saiba mais</button>
    </div>
    <div class="transparencia">
    <h1>Portal da transparencia.</h1>
        <p>Informações sobre financiamento do site.</p>
        <button class="bttransparencia">Saiba mais</button>
    </div>
   </div>
   </div>
  </body>
  <%- include('./partials/footer') %>
</html>