<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="vierport" content="width=device-width, initial-scale=1.0";>
    <link rel="stylesheet" href="stylesheets\style.css">
  </head>
    <%- include('./partials/header') %>
  <body>

  <div class="erro">
    <h1>Seu novo amigo não esta por aqui...</h1>
    <img src="https://img.freepik.com/vetores-gratis/desenho-de-cachorro-astronauta-com-fundo-preto_177478-52.jpg?w=2000" alt="imgerro" width="500" height="500">
    <a href="/"><button class="bterro">Voltar</button></a>
  </div>
  </body>
</html>