<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/header') %>
    <title>Projeto Adoção</title>
    <meta charset="UTF-8">
    <meta name="vierport" content="width=device-width, initial-scale=1.0";>
    <link rel="stylesheet" href="stylesheets\style.css">
  </head>
  <body>
   <div class="main">
    <img src="" height="350px" width="900px" alt="idximg1">
    <div class="idxbt">
    <button class="idxbt1">Quero Adotar</button>
    <button class="idxbt2">Quero divulgar</button>
    </div>
    <div class="bemvindos">
      <h1>Acabaram de chegar !</h1>
      <p>Estamos esperando por uma nova familia, confira quem acabou de chegar.</p>
      <div class="novos">
        <div class="novo1">
          <img src="https://www.rbsdirect.com.br/imagesrc/24899135.jpg?w=700" width="200" height="150" alt="novo1">
          <h2>Nome do pet</h2><br>
          <p>Informçaoes e curiosidades.</p>
        </div>
        <div class="novo2">
          <img src="https://www.rbsdirect.com.br/imagesrc/24899135.jpg?w=700" width="200" height="150" alt="novo2">
          <h2>Nome do pet</h2><br>
          <p>Informçaoes e curiosidades.</p>
        </div>
        <div class="novo3">
          <img src="https://www.rbsdirect.com.br/imagesrc/24899135.jpg?w=700" width="200" height="150" alt="novo3">
          <h2>Nome do pet</h2><br>
          <p>Informçaoes e curiosidades.</p>
        </div>
        <div class="novo4">
          <img src="https://www.rbsdirect.com.br/imagesrc/24899135.jpg?w=700" width="200" height="150" alt="novo4">
          <h2>Nome do pet</h2><br>
          <p>Informçaoes e curiosidades.</p>
        </div>
     </div>
     <button class="btvermais">Ver mais</button>
   </div>
  </body>
  <%- include('./partials/footer') %>
</html>