<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Adoção</title>
    <meta charset="UTF-8">
    <meta name="vierport" content="width=device-width, initial-scale=1.0";>
    <link rel="stylesheet" href="stylesheets\style.css">
  </head>
  <body>
   <div class="login">
        <img src="" alt="logoLogin">
        <h1>Faça seu login</h1><br>
        <p>É necessario ter um cadastro para divulgar ou adotar um pet.</p>
       <div class="caixalogin">
        <form>
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="senha">Senha</label><br>
            <input type="password" id="senha" name="senha"><br><br>
            <input class="btnLogin" type="submit" value="Entrar">
          </form> 
        <div class="entrarRedes">
            <button class="btnGoogle">Conectar com o  Google</button>
            <button class="btnFacebook">Conectar com o Facebook</button>
        </div>
        <div class="loginCad">
            <a href="#">Esqueceu a senha ?</a>
            <a href="cadastro">Ainda não possui cadastro?</a>
        </div>
       </div>
          
       </div>
  </body>
</html>