<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/header') %>
    <title>Projeto Adoção</title>
    <meta charset="UTF-8">
    <meta name="vierport" content="width=device-width, initial-scale=1.0";>
    <link rel="stylesheet" href="stylesheets\style.css">
  </head>
  <body>
      <div class="agente">
        <div class="calaborador1">
          <img src="https://www.rbsdirect.com.br/imagesrc/24899135.jpg?w=700" width="200" height="150" alt="novo1">
          <h1>Giovane <br>Fernandes</h1><br>
          <p>Tenho 25 anos e sou um dos<br>colaborados deste projeto.</p>
        </div>
        <div class="calaborador2">
          <img src="https://www.rbsdirect.com.br/imagesrc/24899135.jpg?w=700" width="200" height="150" alt="novo2">
          <h1>Giovane <br>Fernandes</h1><br>
          <p>Tenho 25 anos e sou um dos<br>colaborados deste projeto.</p>
        </div>
        <div class="calaborador3">
          <img src="https://www.rbsdirect.com.br/imagesrc/24899135.jpg?w=700" width="200" height="150" alt="novo3">
          <h1>Giovane <br>Fernandes</h1><br>
          <p>Tenho 25 anos e sou um dos<br>colaborados deste projeto.</p>
        </div>
     </div>
   </div>
  </body>
  <%- include('./partials/footer') %>
</html>